<div class="row">
  <div class="col-sm-12">
    <div class="proba">
      <table>
        <thead>
          <tr>
            <th colspan="4">LISTA SVIH CLANOVA</th>
          </tr>
          <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Datum rodjenja</th>
            <th>Broj telefona</th>
          </tr>
        </thead>
      </table>
      <app-user-list
        *ngFor="let userList of users; let i = index"
        [user]="userList"
        (userSelected)="getSelectedUser( i)"
      ></app-user-list>
    </div>
  </div>
</div>
